@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$dark: #2d2e32;
$darker: #28292d;
$green: #8bf0a9;
$white: #ffffff;
$grey: #cecece;
$dark-grey: #707175;

$javascript: #edd945;
$angular: #c92c34;
$vue: #5eb686;
$node: #84b169;
$wordpress: #4e8cce;
$ruby: #c04234;
